[submodule "src/PlcNext/Templates"]
	path = src/PlcNext/Templates
	url = https://github.com/PLCnext/PLCnext_CLI_Templates.git
	branch = master
[submodule "visual-studio-plugin"]
	path = visual-studio-plugin
	url = https://github.com/PLCnext/PLCnext_CLI_VS.git
	branch = master
[submodule "eclipse-plugin"]
	path = eclipse-plugin
	url = https://github.com/PLCnext/PLCnext_CLI_Eclipse.git
	branch = master
