<?xml version="1.0" encoding="UTF-8"?>
<AcfConfigurationDocument
  xmlns="http://www.phoenixcontact.com/schema/acfconfig"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.phoenixcontact.com/schema/acfconfig.xsd"
  schemaVersion="1.0" >

  <Processes>
    <Process name="AcfProjectv210Process" settingsPath="$ARP_ACF_SETTINGS_FILE$" />
  </Processes>

  <Libraries>
    <Library name="AcfProjectv210.AcfProjectv210Library" binaryPath="./lib/libAcfProjectv210.so" />
  </Libraries>

  <Components>
    <Component name="AcfProjectv210Component1" type="AcfProjectv210::AcfProjectv210Component" library="AcfProjectv210.AcfProjectv210Library" />
  </Components>

</AcfConfigurationDocument>