<?xml version="1.0" encoding="UTF-8"?>
<AcfConfigurationDocument
  xmlns="http://www.phoenixcontact.com/schema/acfconfig"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.phoenixcontact.com/schema/acfconfig.xsd"
  schemaVersion="1.0" >

  <Processes>
    <Process name="AcfProjectProcess" settingsPath="$ARP_ACF_SETTINGS_FILE$" />
  </Processes>

  <Libraries>
    <Library name="AcfProject.AcfProjectLibrary" binaryPath="$ARP_BINARY_DIR$/libAcfProject.so" />
  </Libraries>

  <Components>
    <Component name="AcfProject" type="AcfProject::AcfProjectComponent" library="AcfProject.AcfProjectLibrary" process="AcfProjectProcess" />
  </Components>

</AcfConfigurationDocument>