<?xml version="1.0" encoding="UTF-8"?>
<AcfConfigurationDocument
  xmlns="http://www.phoenixcontact.com/schema/acfconfig"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.phoenixcontact.com/schema/acfconfig.xsd"
  schemaVersion="1.0" >

  <Libraries>
    <Library name="PortTypesInDifNamespacesAcf.PortTypesInDifNamespacesAcfLibrary" binaryPath="./lib/libPortTypesInDifNamespacesAcf.so" />
  </Libraries>

  <Components>
    <Component name="PortTypesInDifNamespacesAcfComponent1" type="PortTypesInDifNamespacesAcf.PortTypesInDifNamespacesAcfComponent" library="PortTypesInDifNamespacesAcf.PortTypesInDifNamespacesAcfLibrary" />
  </Components>

</AcfConfigurationDocument>