<?xml version="1.0" encoding="UTF-8"?>
<AcfConfigurationDocument
  xmlns="http://www.phoenixcontact.com/schema/acfconfig"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.phoenixcontact.com/schema/acfconfig.xsd"
  schemaVersion="1.0" >

  <Processes>
    <Process name="AcfProjectv216Process" settingsPath="$ARP_ACF_SETTINGS_FILE$" />
  </Processes>

  <Libraries>
    <Library name="AcfProjectv216.AcfProjectv216Library" binaryPath="./lib/libAcfProjectv216.so" />
  </Libraries>

  <Components>
    <Component name="AcfProjectv216Component1" type="AcfProjectv216.AcfProjectv216Component" library="AcfProjectv216.AcfProjectv216Library" />
  </Components>

</AcfConfigurationDocument>